/*META*/

@font-face {
    font-family: Roboto-Regular;
    src: url(./ressources/fonts/Roboto-Regular.ttf);
}

html,body *{
    font-family: Roboto-Regular;
    padding: 0;
    margin: 0;
}

ul{
    list-style-type: none;
}

a{
    color: inherit;
}

a:hover{
    font-weight: bold;
}

/*TOFU.IO*/

body{
    background: rgb(202,242,242);
    background: linear-gradient(169deg, rgba(202,242,242,0.5) 0%, rgba(202,242,242,0.5) 24%, rgba(191,241,235,0.5) 26%, rgba(191,241,235,0.5) 49%, rgba(178,231,224,0.5) 51%, rgba(178,231,224,0.5) 74%, rgba(161,227,219,0.5) 76%, rgba(161,227,219,0.5) 100%); 
    
}

header{
    width: 100%;
    height: 2em;
}

header p{
    font-size: x-large;
    position: fixed;
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-style: solid;
    border-radius: 0 0 50% 50%;
    border-color: rgba(105, 105, 105, 0.5);
    background-color: rgb(235, 255, 255);
    padding: 0.2em 0.2em 0.2em 0.2em;
    box-shadow: 0.1em 0.1em 0.2em rgba(0, 0, 0, 0.171);
}

footer{
    background-color: rgb(235, 255, 255);
    border-top-style: solid;
    border-top-color: rgba(105, 105, 105, 0.212);
    border-width: 0.2em;
    font-size: x-small;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    border-top-right-radius: 25%;
    border-top-left-radius: 25%;
    padding: 0 0 2em 0;
}

footer div{
    height: 2px;
    width: 10%;
    margin: 2% 0 1% 0;
    background: linear-gradient(90deg, rgba(255,255,255,0.5) 0%, rgba(0,0,0,1) 50%, rgba(255,255,255,0.5) 100%);
}

footer p{
    padding: 0.25em;
}
/*MAIN*/


#main{
    order: 1;
    width: 75%;
    border-style: solid;
    border-color: rgba(105, 105, 105, 0.212);
    border-radius: 20px;
    box-shadow: 0.6em 0.36em 0.6em rgba(0, 0, 255, 0.1);
    background: rgb(255, 255, 255);
    margin: 5% auto 5% auto;
    padding: 2em 5% 2em 5%;
    line-height: 1.4em;
}

#main h1{
    padding: 0 0 1em 0;
}

#main h3{
    padding: 0 0 3em 0;
    color: rgb(73, 75, 80);
    font-style: italic;
}

#main p{
    padding: 0.5em 0 0.5em 0;
    text-align: justify;
    text-justify: inter-word;
}

#main .flexbox{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0.5em 0 0.5em 0;
}

#main .code{
    width: 30%;
    border-style: solid;
    border-color: rgb(175, 175, 175);
    background: rgb(231, 231, 231);
    border-width: 1px;
    border-radius: 0.2em;
    margin: 1em 0 1em 0;
}

#main h4{
    margin: 3em 0 1em 0;
}

#main #conclusion{
    font-style: italic;
    color: darkgrey;
}

#main li{
    margin: 0.5em 0 0.5em 0;
}

#main #source{
    margin: 3em 0 0 0;
    font-size: small;
    color: darkgrey;
}