*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    background: #1E93CC;
}

a {
    color: inherit;
    text-decoration: inherit; 
}

header{
    background-color: #333333;
    position: fixed;
    display: inline-block;
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    font-size: small
}

#box{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

#turlututu{
    color: white;
}


header li{
    padding: 10px 10px 10px 10px;
}

#login{
    display: flex;
    align-items: center;
    padding: 0 10px 0 10px;
}


.black_button *{
    display: inline-block;
    color: white;
}

.black_button{
    color: white;
}

.black_button:hover{
    background: rgb(22, 22, 22);
}

.blue_button{
    border-style: solid;
    border-width: 3px;
    border-color: white;
    background: #165882;
    border-radius: 10px;
    padding: 10px 21px 10px 21px;
    color: white;
}

.blue_button:hover{
    background: #6292b1;
}

.yellow_button{
    border-style: solid;
    border-width: 3px;
    border-color: white;
    background: #E99002;
    border-radius: 10px;
    padding: 10px 21px 10px 21px;
    color: white;
}

.yellow_button:hover{
    background: #f0c47d;
}

ul{
    list-style-type: none;
}

li{
    display: inline-block;
}

#bloc1{
    padding: 4% 0 0 0;
    color: white;
    text-align: center;
    display: flex;
}

#jsgeek{
    width: 150px;
}


#box1{
    width: 30%;
    float: left;
}

#box2{
    width: 40%;
}

#box3{
    width: 30%;
}

#box2 p:nth-child(2){
    padding: 0 0 15px 0;
}

#bloc1 .yellow_button{
    margin: 15px 35% 40px 35%;
}

#bloc2 p{
    background: white;
    text-align: center;
    padding: 10px 0 10px 0;
}

#bloc3{
    color: white;
    padding: 20px 20px 20px 20px;
}


#bloc3 td p:first-child{
    font-size: large;
    padding: 30px 0 10px 0;
}

#bloc3 td p:last-child{
    font-size: small;
    padding: 0 30px 0 0;
}

#bloc4 p{
    background: white;
    color: #868b8d;
    text-align: center;
    padding: 10px 0 10px 0;
}

#bloc5{
    background: #EEEEEE;
    border-top-style: solid;
    border-top-color: #e7e7e7;
    border-top-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: #e7e7e7;
    border-bottom-width: 2px;
    display: flex;
    justify-content: space-between;
}

#bloc5 ul li{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

#bloc5 img{
    padding: 0 10px 0 10px;
}

#bloc5 div{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

#bloc5 ul img{
    margin: 30px 0 30px 0;
    width: 10%;
    height: 10%;
}

#bloc5 img:hover{
    opacity:0.7;
}

#bloc5 img:nth-child(2){
    width: 5%;
    height: 5%;
}

#bloc5 #producthunt{
    width: 30%;
    height: 50%;
}

#box4{
    width: 20%;
    height: 100%;
}

#box5{
    width: 60%;
}

#box6{
    width: 20%;
    height: 100%;
}


#bloc6{
    text-align: center;
    background: white;
    padding: 25px 0 60px 0;
}

footer{
    background-color: #222222;
    color: white;
}

footer *{
    display: inline-block;
}

footer li{
    border-left-style: dotted;
    border-width: 1px;
    border-color: white;
    padding: 4px 8px 4px 8px;
    margin: 3px 0 3px 0;
    font-size: x-small;
}

footer li:first-child{
    border-style: none;
}

footer p{
    font-size: x-small;
    display: inline-flex;
    float: right;
    padding: 4px 8px 4px 8px;
    margin: 3px 0 3px 0;
}

#bubble{
    border-style: solid;
    border-radius: 50%;
    border-color: #165882;
    background: #165882;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.199);
    position: fixed;
    bottom:20px;
    right:20px;
}

#bubble:hover{
    border-color: #6292b1;
    background: #6292b1;
}
